.points
  .point
    .point1-photo
      .point1-text
        %h3{style: "width: 100%"}
          %span{:style => "line-height:200%;"}
            ="POINT1"
        %p{style: "margin: 0"}
        ="様々な種類のおやつを、"
        %br
        ="おやつ診断をしてご注文いただくと、"
        %br
        ="定期的にBOXをポストにお届けします。"
  .point
    .point2-photo
      .point2-text
        %h3{style: "width: 100%"}
          %span{:style => "line-height:200%;"}
            ="POINT2"
        %p{style: "margin: 0"}
        ="様々な種類のおやつを、"
        %br
        ="おやつ診断をしてご注文いただくと、"
        %br
        ="定期的にBOXをポストにお届けします。"
  .point
    .point3-photo
      .point3-text
        %h3{style: "width: 100%"}
          %span{:style => "line-height:200%;"}
            ="POINT3"
        %p{style: "margin: 0"}
        ="様々な種類のおやつを、"
        %br
        ="おやつ診断をしてご注文いただくと、"
        %br
        ="定期的にBOXをポストにお届けします。"
