// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subscription{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}


.plan{
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: row;


}



.plan-container{
  width: 50%;
  padding-left: 10em;
  display: flex;
  flex-flow: column nowrap;
}


.plan-name{
  margin: 0;

}

.plan-image-container{
  width: 50%;
  display: flex;
  justify-content: center;
}

.plan-image{
  width: 30vw;
  height: 40vh;
}
